@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../public/assets/fonts/centauri.ttf);
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap");

body {
  @apply m-0 bg-black;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.tracking1 {
  letter-spacing: 12px;
}

.tracking2 {
  letter-spacing: 6px;
}

.text-md {
  @apply text-[14px];
}

.text-normal-landing-white {
  @apply text-base font-medium leading-[32px] md:text-xl text-white;
}

.padding {
  @apply p-5 sm:p-20;
}

.text-project-card-gray {
  @apply text-gray-medium text-base font-semibold;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #252525;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffc000;
  border-radius: 10px;
  border: 3px solid #252525;
}

.bg-landing {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.blur {
  background: rgba(0, 0, 0, 0.47);
  backdrop-filter: blur(12px);
}

.centauri-font {
  font-family: MyFont;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.pulse:hover {
  background: #ffc000;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  animation: animate-pulse 3s linear infinite;
  cursor: pointer;
}
@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 #ffc000, 0 0 0 0 #ffc000;
  }
  40% {
    box-shadow: 0 0 0 20px rgba(255, 109, 74, 0), 0 0 0 0 #ffc000;
  }
  80% {
    box-shadow: 0 0 0 20px rgba(255, 109, 74, 0),
      0 0 0 20px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 20px rgba(255, 109, 74, 0);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* carousel */

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}

.image-hover-style {
  @apply grayscale hover:grayscale-0 transition ease-in-out delay-150  hover:scale-100 duration-300 hover:border-4 border-primaryYellow;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 12px;
  padding: 20px;
  img {
    margin-bottom: 32px;
  }
}

.bg-yellow-box {
  position: relative;
}

.bg-yellow-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 12px;
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #0d1212, #ffc000, #0d1212);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(10px);
  transition: 0.5s ease;
  box-shadow: 10px 10px 20px -10px #eceae6;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-body {
  height: 247px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tag {
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.ant-modal-content {
  padding: 0px !important;
}
